/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* My css is down here */
  :root {
    --body-color: rgb(235, 234, 255);
    --game-background-color: rgb(150, 148, 255);
    --game-text-color: rgb(61, 59, 243);
    --border-color: rgb(255, 41, 41);
  }

  .game-container {
    padding: 1rem;
    height: 100vh;
    background-color: var(--body-color);
  }

  .game {
    margin: auto;
    width: max(300px, 50vw);
    height: max(300px, 50vw);
    background-color: var(--game-background-color);
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
  }

  .square {
    border: 2px solid var(--border-color);
    display: grid;
    place-items: center;
    font-size: 4rem;
    color: var(--game-text-color);
  }